body {
  margin: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.box {
  background-color: #5f5f5e;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  .logo {
    width: 66%;
  }

  .nav {
    width: 33%;
  }

  .hero {
    width: 100%;
  }

  .p1 {
    width: 100%;
  }

  .p2 {
    width: 100%;
  }

  .s1 {
    width: 50%;
  }

  .s2 {
    width: 50%;
  }

  .s3 {
    width: 50%;
  }

  .s4 {
    width: 50%;
  }

  .s5 {
    width: 50%;
  }

  .s6 {
    width: 50%;
  }

  .img {
    display: none;
  }

  .footer {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
  .logo {
    width: 33%;
  }

  .nav {
    width: 67%;
  }

  .hero {
    width: 100%;
  }

  .p1 {
    width: 50%;
  }

  .p2 {
    width: 50%;
  }

  .s1 {
    width: 33%;
  }

  .s2 {
    width: 33%;
  }

  .s3 {
    width: 33%;
  }

  .s4 {
    width: 33%;
  }

  .s5 {
    width: 33%;
  }

  .s6 {
    width: 33%;
  }

  .img {
    display: none;
  }

  .footer {
    width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .logo {
    width: 33%;
  }

  .nav {
    width: 67%;
  }

  .hero {
    width: 100%;
  }

  .p1 {
    width: 50%;
  }

  .p2 {
    width: 50%;
  }

  .s1 {
    width: 25%;
  }

  .s2 {
    width: 25%;
  }

  .s3 {
    width: 25%;
  }

  .s4 {
    width: 25%;
  }

  .s5 {
    width: 25%;
  }

  .s6 {
    width: 25%;
  }

  .img {
    width: 50%;
    display: block;
  }

  .footer {
    width: 100%;
  }
}